<!DOCTYPE html>
<html lang="pt-br">
    <!-- Esse recurso se chama partials e permite comolocar trechos de codigo em outros arquivos para evitar tepetir codigos va na pasta views/partials para auterar-->
    <%- include ('./partials/head.ejs')%>
<body class="bg-body-tertiary">
    <header><%- include ('./partials/nav.ejs')%></header>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3><%= nome %></h3>
            </div>
            <div class="card-body">
                <p>Origem: <%= origem %></p>
                <p>Andar: <%= andar %></p>
                <p>Tipo: <%= tipo %></p>
                <p>Setor: <%= setor %></p>
                <p>Portao mias proximo: <%= portao %></p>
            </div>
        </div>
    </div>
</body>
<%- include ('./partials/footer.ejs')%>
</html>